<div class="col-md-8 row">  
  <h1> Vagas em destaque </h1>
    <% @job_positions.featured.each do |destaque| %>
      <div id="destaques" class="row">
        <p><strong><%= link_to destaque.title, [destaque.company, destaque] %></strong></p>
        <p><%= destaque.expiration_date %></p>
        <p><%= destaque.job_status %></p>
        <p><%= destaque.company.fantasy_name if destaque.company %></p>
        <p><%= destaque.description %></p>
        <p><%= destaque.job_category.description %></p>
        <% end %>
    </div>
</div>
