
    <div class="col-md-12">
      <div class="col-md-12 row"> 
        <div class="col-md-10 col-md-offset-1">  
        
           <h1>Últimas Vagas</h1>
            <% @job_positions.each do |vaga| %>
         
            <div class="row">
            <div id="vagas" class="col-md-12">
             <div id="logos" class="col-md-4 img-rounded">
                <%= image_tag vaga.company.avatar.url(), class:"img-rounded col-md-12"  %>
              </div>
                 <div id="descricao" class="row col-md-6">
                  <h2><%= vaga.job_category.description %></h2>
                  <p><h3><%= vaga.created_at %></h3></p>
                  <p><%= vaga.description %></p>
                  <button class="btn btn-primary"  type="button"><%= link_to "Saiba mais", company_job_position_path(vaga.company, vaga, )%></button>
                </div>
            </div>
            <% end %>    
       
      </div>  
    </div> 
  </div>
