<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "Erro") %>: *Os campos são obrigatórios!</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <div class="field">
    <label >Nome*:</label>
    <%= f.text_field :fantasy_name, class:"form-control", :size =>25%>
    </div>
  </p>

   <p>
    <div class="field">
    <label >Cnpj*:</label>
    <%= f.text_field :cnpj, class:"form-control", :size =>25, maxlength: 14%>
    </div>
 </p>

  <p>
    <div class="field">
    <label >Url*:</label>
    <%= f.text_field :url, class:"form-control", :size =>25%>
    </div>
  </p>

  <p>
    <div class="field">
    <label >E-mail*:</label>
    <%= f.text_field :email, class:"form-control", :size =>25%>
    </div>
  </p>

  <p>
    <div class="field">
    <label >Telefone*:</label>
    <%= f.text_field :phone, class:"form-control", :size =>25%>
   </div>
  </p>

  <p>
    <div class="field">
    <label>Avatar</label>
    <%= f.file_field :avatar %>
    </div>
  </p>
  <% if @empresa.new_company? %>
    <%= f.fields_for :company_admin do |sub_f|%>
      <div class="field">
        <%= sub_f.label :email %><br />
        <%= sub_f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= sub_f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= sub_f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= sub_f.label :password_confirmation %><br />
        <%= sub_f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    <% end %>
  <% end %>
  <p>
    <button type="submit">Salvar</button>
  </p>
<% end %>