<h1> Show ok </h1>


<div>
		<ul>
			<li><strong>Nome:</strong><%= @empresa.fantasy_name %></li>
			<li><strong>Site:</strong><%= @empresa.url %></li>
			<li><strong>Telefone:</strong><%= @empresa.phone %></li>
			<li><strong>Email:</strong><%= @empresa.email %></li>
			<li><strong>CNPJ:</strong><%= @empresa.cnpj %></li>
		</ul>
</div>