<h1>Detalhes da Empresa</h1>

<%= link_to "Ver todas a Empresas", companies_path %>

<div>
    <%= image_tag @empresa.avatar.url(:thumb) %>
    <ul>
      <li><strong>Nome:</strong><%= @empresa.fantasy_name %></li>
      <li><strong>Site:</strong><%= @empresa.url %></li>
      <li><strong>Telefone:</strong><%= @empresa.phone %></li>
      <li><strong>Email:</strong><%= @empresa.email %></li>
      <li><strong>CNPJ:</strong><%= @empresa.cnpj %></li>
      <li><%=link_to "Cadastrar nova vaga", new_company_job_position_path(@empresa) %></li>
    </ul>
</div>
<% unless @empresa.job_positions.empty?  %>
<h2>Vagas da Empresa:</h2>

<div>
  <% @empresa.job_positions.each do |vaga| %>
  <ul>
    <% if flash[:notice] %>
      <div class="warning">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    <% if vaga.featured? %>
      <li><strong>Vaga em destaque!</strong></li>
    <% end %>
      <li><strong>Título:</strong><%= vaga.title %></li>
      <li><strong>Descrição:</strong><%= vaga.job_status %></li>
      <li><strong>Data de Expiração:</strong><%= vaga.expiration_date %></li>
      <li><strong>Status:</strong><%= vaga.job_status %></li>
      <li><strong>Localização:</strong><%= vaga.location %></li>
      <li><%= link_to "Editar", edit_company_job_position_path(@empresa, vaga) %></li>
    </ul>
    <% end %>
</div>
<% end %>
<div>
  <h1>Recomendações da empresa</h1>
  <%@empresa.recommendations.each do |r|%>
    <ul>
      <li><%= r.name %></li>
      <li><%= r.email %></li>
      <li><%= r.recommend %></li>
    </ul>
  <% end %>
</div>
