<%= form_for(@job_position) do |f| %>

<div class="rows">
	<div class="col-md-8 col-sm-8">
		<form>
			<div class="field">
			    <label >Título</label>
			    <%= f.text_field :title, class:"form-control"%>
			</div>
			<div class="field">
			    <label >Descrição</label>
			    <%= f.text_field :description, class:"form-control"%>
			</div>
			<div class="field">
			    <label >Data de Expiração</label>
			    <%= f.date_field :expiration_date, min:@min_expiration, max:@max_expiration, class:"form-control"
			    %>
			</div>
			<div class="field">
			    <label >Local de Trabalho</label>
			    <%= f.text_field :location, class:"form-control"%>
			</div>
			<div class="field">
				<label>Status do Anúncio</label>
				<%= select_tag(:job_status, options_for_select([['Ativa', "Ativa"], ['Desativada', "Desativada"],['Cancelada', "Cancelada"]])) %>
			</div>
		</form>
	</div>
</div>
<input class="btn btn-default" type="submit" value="Gravar Dados" onclick="validaCampos()">
<% end %>