<h2> Todas as Vagas </h2>
<section>
  <% @job_positions.each do |job| %>
    <% if flash[:notice] %>
      <div class="warning">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    <% if job.featured? %>
      <li><strong>Vaga em destaque!</strong></li>
    <% end %>
    <ul>
      <li><strong>Título:</strong><%= link_to job.title, [job.company, job] %></li>
      <li><strong>Data de Expiração:</strong><%= job.expiration_date %></li>
      <li><strong>Status:</strong><%= job.job_status %></li>
      <li><strong>Empresa:</strong><%= job.company.fantasy_name if job.company %></li>
      <li><%= link_to "Editar", edit_company_job_position_path(job.company, job) %></li>
    </ul>
  <% end %>
</section>