<h1>Detalhes da Vaga</h1>
<% if flash[:notice] %>
<div class="warning">
  <p><%= flash[:notice] %></p>
</div>
<% end %>
<%= link_to "ver todas as vagas", company_job_positions_path %>
<section>
  <ul>
    <% if @new_job_position %>
    <li><strong>Vaga nova!</strong></li>
    <% end %>
    <% if @last_expiration_days %>
    <li><strong>Ultimos dias para inscriçao</strong></li>
    <% end %>
    <li><strong>Título:</strong><%= @job_position.title %></li>
    <li><strong>Descrição:</strong><%= @job_position.job_status %></li>
    <li><strong>Data de Expiração:</strong><%= @job_position.expiration_date %></li>
    <li><strong>Status:</strong><%= @job_position.job_status %></li>
    <li><strong>Localização:</strong><%= @job_position.location %></li>
    <li><strong>Empresa:</strong><%= @job_position.company.fantasy_name %></li>
    <li><%= link_to "Editar", edit_company_job_position_path(@job_position.company, @job_position) %></li>
    <li>essa vaga teve <%= @visits %> nas ultimas 24h</li>
  </ul>
</section>
