<!DOCTYPE html>
<html>
<head>
  <title>Empregoja</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menu" class="navbar navbar-default navbar-static-top">
  <p class="col-md-6"> EMPREGO-JÁ </p>
  <% unless user_signed_in? %>
  <%= link_to "Login User", new_user_session_path %>
  <% else %>
  <%= link_to "Logout", sign_out_path %>
  <% end %>
</div>

  <%= yield %>
<div class="footer">
  <% unless general_admin_signed_in? %>
  <%= link_to "Login Admin Geral", sign_in_path %>
  <% else %>
  <%= link_to "Logout", sign_out_path %>
  <% end %>
  </div>



</body>
</html>
