<!DOCTYPE html>
<html>
<head>
  <title>Empregoja</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menu" class="navbar navbar-default navbar-static-top">
  <p class="col-md-6"> EMPREGO-JÁ </p>
  <% unless user_signed_in? %>
  <%= link_to "Login User", new_user_session_path %>
  <% else %>
  <%= link_to "Logout", sign_out_path %>
  <% end %>
</div>

  <%= yield %>
<div class="footer">
  <div class="container">
  <div  class="row">
    <div class="colunas col-md-4 col-lg-4">
      <h2>Aonde Estamos</h2>
      <p>Avenida Paulista, 1000</p>
      <p>São Paulo - SP</p>
    </div>
    <div class="colunas col-md-4 col-lg-4">
      <h2> Pela Web </h2>
      icon icon icon
    </div>
    <div class="colunas col-md-4 col-lg-4">
      <h2>Sobre Emprego Já</h2>
      <p> Emprego já é o seu novo jeito de encontrar seu emprego na web!</p>
    </div>
  </div>
</div>

<div> 
  <% unless general_admin_signed_in? %>
  <%= link_to "Login Admin Geral", sign_in_path %>
  <% else %>
  <%= link_to "Logout", sign_out_path %>
  <% end %>
</div>
  </section>
  
</body>
</html>
